# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LithiumIronBatteries.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Aubrey\Documents\GitHub\Subnautica-Mods\LithiumIronBatteries\.idea\.idea.LithiumIronBatteries.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
